version: "3.9"

services:
######################### Couche 1: Stockage des données avec PostgreSQL#########################
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: dq_user
      POSTGRES_PASSWORD: dq_pass
      POSTGRES_DB: dq_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db-init:/docker-entrypoint-initdb.d
      - ./data:/data
    networks:
      - dq_net

######################### Couche 2 : Exploration et profiling des données ######################
  exploration:
    build: ./exploration
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgresql://dq_user:dq_pass@postgres:5432/dq_db
      OUTPUT_PATH: /exploration/html
    volumes:
      - ./exploration/html:/exploration/html
    networks:
      - dq_net

######################### Couche 3 : Validation Qualité avec Great Expectations ################
  validation:
    build: ./validation
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgresql://dq_user:dq_pass@postgres:5432/dq_db
    volumes:
      - ./results:/app/results
      - ./reports:/app/reports
      - ./data:/data
    networks:
      - dq_net

######################### Couche 4: Visualisation avec Superset#########################
  superset:
    image: apache/superset:latest-dev
    depends_on:
      - postgres
    environment:
      SUPERSET_SECRET_KEY: "b97MuSm/H12Cq2Oc1xR6BuIfUzY0RHCIlcL6yfKUft/y0aUkb/ZEdZDO"
      SUPERSET_LOAD_EXAMPLES: "no"
      SUPERSET_ADMIN_USERNAME: "admin"
      SUPERSET_ADMIN_PASSWORD: "admin"
      SUPERSET_ADMIN_FIRSTNAME: "DQ"
      SUPERSET_ADMIN_LASTNAME: "Admin"
      SUPERSET_ADMIN_EMAIL: "admin@example.com"
    ports:
      - "8088:8088"
    volumes:
      - superset_home:/app/superset_home
      - ./superset-entrypoint.sh:/app/superset-entrypoint.sh
    command: ["/bin/sh", "/app/superset-entrypoint.sh"]
    networks:
      - dq_net

######################### Couche 5: Data Catalog avec OpenMetaData #########################


######################### Couche 6: Orchestration avec AirFlow #########################



############################# Volumes et Réseaux #############################  
volumes:
  postgres_data:
  superset_home:
  openmetadata_db_data:


networks:
  dq_net:
    driver: bridge